/*组卷 */
.paper-content{position: relative;}
.paper-content h5{color:#EFAC51;margin-top: -5px;margin-bottom: 20px;cursor: pointer;}
.paper-content h5 a{color: inherit;}
.paper-content  .radio-inline{margin-left:50px;}

.paper-content-footer label{font-weight: normal;margin-right: 10px;color:#EFAC51;}
.paper-content-footer span{font-size: 24px;color:#EFAC51;vertical-align: middle;}
.paper-content-footer span:last-child{margin-right: 10px;}
.page-daan dt,.page-daan dd{padding:5px 0px;}
.page-daan dt{width:100px;text-align: center;background-color: #44B3AD;color:#fff;}
.page-daan dd{position: relative;}
/* .page-daan img{width:80%;height: auto;opacity: 0.8;filter: alpha(opacity=80);}
.page-daan span{position: absolute;top:25%;left:35%;font-size: 200px;color:#fff;} */
.dl-horizontal dd{margin-left: 100px;}
.page-daan dd:last-child{text-align: center;margin-top: 20px;}
.recommend{margin-top: 20px;border-top:2px solid #ddd;padding: 10px 0px;}
.recommend span{font-size: 24px; margin-right: 10px;vertical-align: middle;}
.recommend a,.recommend label{margin-right: 30px;text-align: right;}
.my-type dt{width:80px;margin-top: 10px;}
.my-type dd{margin-left: 100px;margin-top: 10px;}
.my-type a{white-space: nowrap;padding:0px 10px;}
.my-type a.active{background:#44B3AD; color:#fff;}
.my-tab{margin-bottom: 10px;}
.my-panel{background-color: #f5f5f5;}

/*新增修改 树导航修改*/
.ztree li a.curSelectedNode{background-color: #44B3AD;border:none;height: 25px;color:#fff;line-height: 25px;}
.ztree *{font-size: 14px;}
.ztree li a:hover{text-decoration: none;background-color: #44B3AD;color: #fff;}
.ztree li a{height: 25px;line-height: 25px;padding:0 5px;}

.tab-list-style li{padding:3px 5px;position: relative;margin-right:5px;}
 .tab-list-style li.active a{color:#44B3AD;}
 .tab-list-style li a:hover {color:#44B3AD;}
/*--------------*/

.my-pagination li{line-height: 34px;}
.my-pagination li.text{margin-left: 10px;}
.my-pagination li a{color:#000;}
.error{position: absolute;right: 0;width:60px;height: 24px;background-color:#44B3AD;top:5px;color:#fff;line-height: 24px; text-align: center;display: none;}
.paper-content:hover .error{display: block;}
.paper-content:hover a.error:hover{color:red;}
#myModal p,#myModal div{margin-top: 15px;margin-bottom: 15px;text-align: center;}
.paper-content ul{margin-left: 50px;}
.paper-content li{margin-right: 50px;}
.paper-content label{font-weight: normal;margin-right: 50px;margin-left: 10px;}
.lookBtn{position: absolute;bottom:5px;right: 20px;}
.unshow{display: none;}
.paper-content u{padding:0 5px;}
.testbox{width: 180px;height: auto;position: fixed;bottom:0px;right: 0px;}
.testbox .foot{color:#fff;width: 100%;background: url(../img/testbox.png) no-repeat 5px 50%  #44B3AD;font-weight: bold;}

.outline-panel{display: block;}
.know-panel{display: none;}
.outline li{ padding-left: 10px; padding-right: 30px ; background: #f5f5f5;width: 23.5%;height: 36px;line-height: 36px;margin:4px 4px;text-align: center;border:1px solid #eee;border-radius: 5px;position: relative;overflow: hidden;text-overflow:ellipsis; white-space: nowrap;}

/*改动*/
.outline li a.text-right{color:#44B3AD;position: absolute;right:5px;vertical-align: middle;line-height: 36px;}
.outline li a.text-right:hover { color:#666 }
.panel-body { padding: 5px; }
.list-inline { margin: 0 auto; }

/*右侧教材目录和知识点*/
.outline-panel , .know-panel { margin-bottom: 6px; }
p { margin-bottom: 0px; padding-left: 10px; height: 34px; line-height: 34px; font-size: 15px; color: #44B3AD; font-weight: bold ; }

/*难度和来源*/
.checkbox-inline, .radio-inline { vertical-align: 0 ; font-weight: normal ; }
.checkbox-inline input { margin-top: 11px; cursor: pointer; }

/*题目信息*/
table { margin-top: 10px; }
.table>thead>tr>td, .table>thead>tr>th { padding:6px;  }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th  { padding:4px; }
.quesName { width: 100px; display: inline-block; overflow: hidden; white-space: nowrap; text-overflow:ellipsis; cursor: pointer; }
.inlineCheckbox-quesType { top: 4px; }
.smart-test-type label { margin-left: 10px; width: 90%; } 
.smart-test-type label:hover { background-color: #E2E2E2; }
.panel-heading { padding:4px 0 4px 0; }

/*共*道题符合*/
.test-num { font-size: 12px; }

.text-view { padding-left: 150px; }
/*-------------*/

.look-section{display: none;}
.st-num{ display: inline;margin-right: 5px; padding-left: 26px;}
.my-table>tbody>tr>td, .my-table>tbody>tr>th, .my-table>tfoot>tr>td, .my-table>tfoot>tr>th, .my-table>thead>tr>td, .my-table>thead>tr>th{vertical-align: middle; padding-left: 40px; }
.my-table>thead>tr>td { text-align: center; }

/*改动*/
.main_content {padding: 0;}
.my-table>thead{background: #eee;color:#959595;}
/*-------------*/
.my-table>tfoot{background: #eee;}
.my-table>tbody>tr>td{position: relative;}
.my-table>tbody>tr>td a{ padding-left: 10px; top: -1px }
.my-table>tbody>tr>td a:hover { color:#008888 ; }
/*.my-table>tbody>tr>td div{width:120px;}*/
.smart-test-type{ background:#f5f5f5;border:1px solid #ddd;padding:5px 5px;position: absolute;z-index:999;display: none; width:216px;}
.smart-test-type li { height: 24px; line-height: 24px; }
.smart-test-type input{margin:0; margin-right: 5px; }

.left_content { float: left; width: 280px; margin-right: 10px; }
.main_content { float: left; width: 880px; }


/*改动*/
.my-star{font-size: 18px;position: relative;top:3px;}
.my-star-1,a.my-star-1:focus,a.my-star-1:hover{color:#EFAC51;}
/*-------------*/
.my-star-0,a.my-star-0:focus,a.my-star-0:hover{color:#ddd;}

.paper-type li{margin-right: 30px;}
.paper-type li:last-child{float: right;}
.paper-type li label{color:#EFAC51;font-weight: normal;}
.ans-detail label{color:#EFAC51;font-weight: normal;}
.ans-detail dt{margin-top: 10px;}

.share-key .input-group[class*=col-]{float: left;}
.share-type{height: auto;overflow: hidden;}
.share-content .time{color:#999999;}

.wrapper>p>button{margin-right: 10px;}
.paper-title{margin-top: 20px;font-size: 24px;font-weight: bold;padding:5px 0px;}
.paper-title label{color:#EFAC51;font-size:16px;}
.paper-add-test{display: none;}
.paper-from{margin:10px 0px 60px 0px;display: none;}
.paper-from .radio-text{margin-left: 30px;}
.text-small{margin-top: 30px;margin-bottom: 10px;display: block;}
.paper-text>li{margin-top: 20px;padding:5px 5px;}
.paper-text p{text-indent: 2em;}
.paper-text>ul>ul{margin-top: 5px;}
.paper-text ul.list-unstyled li:not(:first-child){margin-left: 20px;}
.title-sub{font-size: 18px;font-weight: bold;margin-top: 10px;padding:5px 0px;}
.edit-box{position: absolute;top:-31px;right: -1px;border:1px solid #44B3AD;border-bottom:none;height: 30px;}
.edit-box input{width: 30px;height: 25px;margin-top: 3px;}
.edit-box a,.edit-box li{font-weight: normal;}
#myModal-change .outline li{width:30%;}
.change-key{border:none;border-bottom: 1px solid #ddd;width: 80%;}
.treeWrap{position: absolute;background: #eee;border-radius: 10px;min-width: 300px;width:400px;display: none;}
.treeWrap p{background: #44B3AD;height: 30px;color:#fff;line-height: 30px;text-align: center;}
.treeWrap>p>a{float: right;font-size:24px;color:#fff;margin-right: 10px}
.treeWrap .panel{margin-bottom: 5px;}
.treeWrap .panel-body{padding:5px 10px;}
#myModal-change-hand button{margin-left: 200px;}
.know-ans{background: #eee;padding:5px 0px;display: none;}
.know-ans dt{width: 80px;}
.publish-type dt{width: 80px;}
.publish-type-test{display: none;}
.publish-type{border:1px solid #ddd;padding:5px;background: #f5f5f5;}
.publish-type dd,.publish-type dt{padding:5px 0px;margin-top: 5px;}
.publish-type a{padding: 5px;}
.publish-type a.active{background:#44B3AD;color:#fff; }
.publish-open-box{display: none;}
/*.publish-type input[type="text"]{width:80%;float: left;}*/
.form_date_1{width:50%;display: none;}
.form_date_1 input[type="text"]{width:100%;}
.no-limit { margin-left:10px; color: #FFF; font-weight:normal ; font-size:14px ; background: #44B3AD; padding: 2px 6px; border-radius: 4px; cursor: pointer; }
.no-limit:hover { background: #008888; color: #FFF;  }
.no-limit:focus { background: #44B3AD;  color: #FFF; }
.smmall-score{width:42px;height: 24px;display: inline-block;display: none;}
.paper-text-2>li>ul.list-inline>li{margin-bottom:10px;}


.test-buble{position: absolute;top:-6px;right:-6px;width:16px;height: 16px;border-radius: 50%;border:1px solid red;text-align: center;font-size:12px;vertical-align: middle;background-color: #eee;}

.page-no{color:red;}
/*试题篮*/
.testbox{width: 180px;height: auto;position: fixed;bottom:0px;right: 0px;}
.testbox .foot{color:#fff;width: 100%;background: url(../../../common/img/testbox.png) no-repeat 5px 50%  #44B3AD;font-weight: bold;}
/*组卷 */


/*新增checkbox*/
.paper-checkbox{
	text-align: center;
	margin-top:20px;
}
.small-title{
	overflow: hidden;
	padding: 5px 0;
}
.small-title li{
	/*float:left;*/
	display: inline;
	margin-right:30px;
}
.small-title li input{
	margin: -1px 3px 0 0;
}
.difficult-degree,.answer-resolve{
	background-color: #f2f2f2;
	display: none;
}
.difficult-degree  p,.answer-resolve  p{
	text-indent: 0;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	/*vertical-align: middle;*/
}
.difficult-degree span,.answer-resolve span{
	margin-left: 5px;
}
.difficult-degree-title{
	letter-spacing: 0.6em;
}
.difficult-degree .glyphicon{
	display: inline;
	font-size:20px;
}

.start_gray{
	color:#DDDDDD;
}
.start_yellow{
	color:#F1AD4D;
}
.radio_lists{
	heigth:34px;
	line-height: 34px;
}
.radio_lists .radio-inline input[type=radio]{
	position: static;
	margin-top: -1px;
}

/*树导航*/
.container .nav-tree li a {
	font-weight: bold;
	border: 1px solid #ccc;
}
.container .nav-tree li a:hover{
	color:#44B3AD;
}
.container .nav-tree li.active a{
	background: #44B3AD;
	color: #fff;
	border: 1px solid #44B3AD;
}
.my-table td .form-control {
	text-align: center;
}

.my-table td input:hover { border: solid 1px #44B3AD; }

.my-table tfoot .title-num {
	color:#EFAC51;
	font-weight: 700;
	font-size: 16px;
	padding:0 5px;
}

.my-table .add-btn button {
	background: none;
	border: none;
	background-color: #44B3AD;
	width: 216px;
	font-family: "微软雅黑";
	font-size: 14px;
	margin-bottom: 4px;
}

.my-table .add-btn button:hover { background: #008888; }

.footer-btn button.btn-success {
	background: none;
	border: none;
	background-color: #44B3AD;
	margin-right: 20px;
	width: 10%;
}

.footer-btn button.btn-success:hover { background: #008888; }

.footer-btn button.btn-warning {
	background: none;
	border: none;
	background-color: #F2AE49;
	width: 10%;
}

.footer-btn button.btn-warning:hover { background: #CC8116; }


.modal-footer button {
	background: none;
	border: none;
	background-color: #44B3AD;
	color: #fff;
}
.publish-btn {
	background: none;
	border: none;
	background-color: #44B3AD;
	color: #fff;
}

.form-control,.form-control a,td,td a {color:#959595; }
.fromWhere>label {color:#959595; font-size: 14px ; margin-left: 2px ; }
a.no-limit label {cursor: pointer;color: #44B3AD; font-size: 14px;}
.know-panel ul>li,.know-panel ul>li>a.text-right,.outline-panel ul>li,.outline-panel ul>li>a.text-right {color:#959595;}
