/*CSS Reset*/
@charset "UTF-8";
html { overflow-x:auto; overflow-y:scroll; }
body, dl, dd, h1, h2, h3, h4, h5, h6,form{margin:0;}   
ol,ul{list-style: none;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style: normal;font-weight: normal;}
abbr,acronym{border: 0;font-variant: normal;}
code,kbd,samp,tt{font-size: 100%;}
sup,sub{font-size: 100%;vertical-align: baseline;}
h1,h2,h3,h4,h5,h6{font-family: "Microsoft YaHei","Tahoma" ,"微软雅黑",sans-serif;font-weight: normal;font-size: 100%;}
body{background: #fff;color: #000;font-family: "Microsoft YaHei","Tahoma" ,"微软雅黑",sans-serif;font-size: 14px;}
table{border-collapse: collapse;border-spacing: 0;}
caption,th{text-align: left;}
input,button,select,textarea{font-family: "Microsoft YaHei", "Tahoma" ,"微软雅黑",sans-serif;}
input,textarea {outline:none;}
img,fieldset{border: none;}
input,select{vertical-align:middle;}
p{word-wrap:break-word;}
blockquote,q{quotes: none;}
blockquote:before,blockquote:after,q:before,q:after{content: '';}
.l{float:left;}
.r{float:right;}
.clear{overflow:hidden;clear:both}
.center{margin: 0 auto;}
.hide{display:none;}
.clearfix:after{content:".";width:0;height:0;display:hidden;visibility:hidden;overflow:hidden;}

a{color:#000;outline: none;}
a:focus, a:hover {
  color: #44B3AD;
  text-decoration: none;
  outline: none;
}